{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}Competition details{% endtrans %}</h1>
    </div>
    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset>
            <legend>{% trans %}Details{% endtrans %}</legend>
                {{ form_row(form.name, {'help': 'If you participate in an event multiple times you should always enter the same name, i.e. don\'t append the event\'s number or year.'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.officially_measured, {'help': 'Was the course officially measured?'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.official_distance, {'help': 'We use two decimals for convenient reasons.<br>Marathon: 42.20 km<br>Half marathon: 21.10 km'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.official_time,  {'div_class': 'w50'}) }}
            <p class="file">{% trans %}This race result is linked to the following activity{% endtrans %}: {{ activity.time|date("d.m.Y") }}, {{ activity.comment }}
                ({{ distance(activity.distance)|raw }}, {{ activity.s|duration }}, {{ pace(activity.distance > 0 ? activity.s / activity.distance : 0, unitConverter.getPaceUnit(activity.sport.speed))|raw }})
            </p>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Placement{% endtrans %} / {% trans %}Participants{% endtrans %}</legend>
                {{ form_row(form.place_total, {'label': 'Place total'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.participants_total, {'label': 'Participants total'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.place_gender, {'label': 'Place gender'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.participants_gender, {'label': 'Participants gender'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.place_ageclass, {'label': 'Place age class'|trans, 'div_class': 'w50'}) }}
                {{ form_row(form.participants_ageclass, {'label': 'Participants age class'|trans, 'div_class': 'w50'}) }}
            <div class="fieldset-messages">
                <p class="info">{% trans %}Your official placement and number of participants in every category.{% endtrans %}</p>
            </div>

        </fieldset>

        <div class="c">
            <input type="submit" value="{% trans %}Save{% endtrans %}">
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

        {% if not isNew %}
        <form action="{{ url('raceresult-delete', {'activityId': activity.id}) }}" method="post" class="ajax no-automatic-reload">
            <div class="c">
                <input type="submit" class="danger" value="{% trans %}Delete{% endtrans %}" />
            </div>
        </form>
        {% endif %}

    </div>
{% endblock %}
