{% extends "base_logged_in.twig" %}

{% import _self as this %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}Race results{% endtrans %}: {% trans %}Performance chart{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <fieldset class="without-legend" style="line-height: 21px;">
            <div class="w25 checkbox-first">
                <label>
                    <input id="checkbox-only-pb" type="checkbox"> {% trans %}Show only personal bests{% endtrans %}
                </label>
            </div>
            <div class="w25 checkbox-first">
                <label>
                    <input id="checkbox-age-standards" type="checkbox" checked> {% trans %}Compare with age standards{% endtrans %}
                </label>
            </div>
            <div class="w25">
                <label></label>
            </div>
            <div class="w25">
                <label for="select-year">{% trans %}Year{% endtrans %}:</label>
                <select id="select-year" name="select-year">
                    <option value="all">{% trans %}Show all years{% endtrans %}</option>
                    {% for year in (date('now')|date('Y'))..(configVar('data.START_TIME')|date('Y'))  %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
    </div>

    <div class="panel-content race-performance-chart">
        <div id="races-plot" class="scatterplot loading" style="min-height:440px;position:relative;"></div>
    </div>

    <div class="panel-content margin-top">
        <p class="info">
            {% trans %}Age standards and personal bests are only considered for the following official distances{% endtrans %}:<br>
            {% for km in mainDistances %}
                {{- km <= 3 ? ((km * 1000) ~ "m") : (km|number_format(1, '.') ~ " km") -}}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="info">
            {% trans %}Effective VO2max values are only available for distances of at least one kilometer.{% endtrans %}
        </p>
    </div>

    <script>
        Runalyze.RacePerformanceChartView(
            "#races-plot",
            "{{ url('internal-data-race-results-all') }}",
            {
                errorMessage: "{% trans %}There was a problem.{% endtrans %} ({% trans %}Plotting failed{% endtrans %})",
                noDataMessage: "{% trans %}There are no race results for running to plot.{% endtrans %}",
                ageStandardLabel: "{{ 'Age standard'|trans }}",
                gui: {
                    showOnlyPb: $("#checkbox-only-pb"),
                    showAgeStandard: $("#checkbox-age-standards"),
                    year: $("#select-year")
                },
                sportId: {{ runningSportId }},
                mainDistances: {{ mainDistances|json_encode }},
                mainDistanceTicks: {{ mainDistanceTicks|json_encode }},
                ageStandardTimes: {{ ageStandardTimes|json_encode }},
                ageStandardVO2max: {{ ageStandardVO2max|json_encode }}
            }
        );
    </script>

    <style>
#races-plot .no-data-message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
    </style>
{% endblock %}
