{% extends "base.html.twig" %}
{% block html_head %}
    <head>
        {% block html_head_meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
        {% endblock %}

        <base href="{{ url('base_url') }}">

        {% block html_head_links %}
            {% block html_head_styles %}
                <link rel="stylesheet" href="{{ asset('assets/css/runalyze-style.css') }}?v={{ RUNALYZE_VERSION }}">
            {% endblock %}

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/v2.x/img/favicon.ico') }}">

        {% endblock %}

        <title>{{ page_title|default('RUNALYZE') }}</title>

        {% block html_head_scripts %}
            <script>document.addEventListener("touchstart", function(){}, true);</script>
            <script src="{{ asset('assets/js/scripts.min.js') }}?v={{ RUNALYZE_VERSION }}"></script>
        {% endblock %}

    </head>
{% endblock %}
{% block body %}

    <div id="headline">
        {% block headline %}
            <a class="tab logo" href="https://www.runalyze.com/" target="_blank">Runalyze</a>
        {% endblock %}
    </div>

    <script>(function($){$(document).ready(function(){ Runalyze.init(); });})(jQuery);</script>

    <div id="overlay" style="display:block;"></div>

    <div id="ajax-outer">
        <div id="ajax" class="panel" style="display:block;">

                <h1>{{ page_title|default('RUNALYZE') }}</h1>

            <div class="panel-content">
                <div class="installer-window-container">
                    <div class="w50" id="login-window">
                        {% block content %}
                        <h1>{% trans %}Sorry!{% endtrans %}</h1>
                        <p>
                            {% trans %}Looks like something went wrong here.{% endtrans %}<br> 
                            {% trans %}Let's go back to RUNALYZE!{% endtrans %} 
                            <a href="{{ path('base_url') }}">{% trans %}Click here{% endtrans %}</a>.
                        </p>
                        {% endblock %}
                    </div>


                    {% block showcase %}
                        {% include 'home_feature_showcase.html.twig' %}
                    {% endblock %}

                    <p class="small clearfix">
                        <span class="right">
                            <a href="http://help.runalyze.com/" target="_blank">{% trans %}Help and Support{% endtrans %}</a>
                            &nbsp;&middot;&nbsp; <a href="https://forum.runalyze.com/" target="_blank">{% trans %}Forum{% endtrans %}</a>
                            &nbsp;&middot;&nbsp; <a href="https://blog.runalyze.com/" target="_blank">{% trans %}Blog{% endtrans %}</a>
                        </span>

                        &copy; {{ "now"|date("Y") }} RUNALYZE Team
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
