{% extends "login/base.html.twig" %}

{% block form %}
    <form action="{{ path('login_check') }}" method="post">
        <fieldset>
            <legend>{% trans %}Login{% endtrans %}</legend>

            <div class="w100">
                <label for="username">{% trans %}Username{% endtrans %}</label>
                <input id="username" name="_username" class="middle-size{% if error %} validation-failed{% endif %}" type="text" value="{{ (username|default(''))|escape('html_attr') }}" autofocus>
            </div>

            <div class="w100 clear">
                <label for="password">{% trans %}Password{% endtrans %}</label>
                <input id="password" name="_password" class="middle-size{% if error %} validation-failed{% endif %}" type="password">
            </div>

            <div class="w100 clear">
                <label for="remember_me" class="small">{% trans %}Remember me{% endtrans %}</label>
                <input id="remember_me" name="_remember_me" type="checkbox" checked>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </fieldset>

        {% block login_messages %}
            {% block login_messages_error %}
                {% if error %}
                    <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            {% endblock %}
        {% endblock %}

        <div class="c">
            <input type="submit" value="{% trans %}Login{% endtrans %}" name="submit">

            <p class="text small login-window-stats"><a href="{{ path('account_recover') }}"><i class="fa fa-fw fa-lg fa-lock"></i> {% trans %}Forgot your password?{% endtrans %}</a></p>

        </div>
    </form>
{% endblock %}
