{% extends 'account/recover/base_hash_given.html.twig' %}

{% block form %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_rest(form) }}

        <div class="c">
            <input type="submit" value="{% trans %}Change password{% endtrans %}" name="submit">
        </div>
        {{ form_end(form) }}

    <input type="hidden" name="chpw_hash" value="{{ recoverHash|escape('html_attr') }}">
    <input type="hidden" name="chpw_username" value="{{ username|escape('html_attr') }}">

{% endblock %}
