{% macro dangerZoneDelete(formUrl, csrfTokenKey, formClass, messages) %}
    <div class="panel-heading panel-sub-heading">
        <h2>{{ 'Danger zone'|trans }}</h2>
    </div>

    <div class="panel-content">
        <p class="text">
            {% trans %}This action can't be undone.{% endtrans %}
        </p>

        {% for message in messages|default([]) %}
            <p class="text">{{ message }}</p>
        {% endfor %}

        <form action="{{ formUrl }}" class="{{ formClass|default('window ajax') }}" data-confirm="{% trans %}Do you really want to delete this?{% endtrans %}">
            <div class="c">
                <input type="hidden" name="t" value="{{ csrf_token(csrfTokenKey) }}" />
                <input type="submit" class="danger" value="{% trans %}Delete{% endtrans %}" />
            </div>
        </form>
    </div>
{% endmacro %}

{% macro addOrUpdateButton(entityIsNew) %}
    {% if entityIsNew %}
        <input type="submit" value="{% trans %}Add{% endtrans %}" name="submit">
    {% else %}
        <input type="submit" value="{% trans %}Update{% endtrans %}" name="submit">
    {% endif %}
{% endmacro %}
