
{% macro plusMinus(value, string, epsilon) %}
    {% if value > epsilon|default(0) %}
        <span class="plus">{{ string|default(value)|raw }}</span>
    {% elseif value < -epsilon|default(0) %}
        <span class="minus">{{ string|default(value)|raw }}</span>
    {% else %}
        {{ string|default(value)|raw }}
    {% endif %}
{% endmacro %}

{% macro boxedValue(value, unit, label, width, icon) %}
    <div class="boxed-value-outer"{% if width %} style="width:{{ width }};"{% endif %}>
        <div class="boxed-value-container{% if icon %} with-icon{% endif %}">
            {% if 'icons8' == icon|slice(0, 6) %}<i class="{{ icon }}"></i>{% elseif icon %}<i class="fa fa-fw {{ icon }}"></i>{% endif %}
            <div class="boxed-value">
                {{ value|raw }}
                <div class="boxed-value-unit">{{ unit|raw }}</div>
            </div>
            <div class="boxed-value-info">{{ label|nbsp|raw }}</div>
        </div>
    </div>
{% endmacro %}

{% macro boxedValueFor(displayableValue, label, width, icon) %}
    {% import _self as utils %}
    {# @var displayableValue \Runalyze\Bundle\CoreBundle\Twig\DisplayableValue #}
    {{ utils.boxedValue(displayableValue.zero ? '-' : displayableValue.value, displayableValue.unit, label, width, icon) }}
{% endmacro %}

{% macro tableHeadMonths(fixedWidth, emptyCells, tag, withTotalCell) %}
    {% set width = fixedWidth > 0 ? ' width="' ~ fixedWidth ~ '%"' : '' %}
    {% set tag = tag|default('th') %}
    {% set tagOpen = '<' ~ tag ~ width ~ '>' %}
    {% set tagClose = '</' ~ tag ~ '>' %}

    <tr class="b">
        {% for i in range(1, emptyCells|default(1)) %}
            {{ ('<' ~ tag ~ '>' ~ tagClose)|raw }}
        {% endfor %}

        {{ (tagOpen ~ 'Jan'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Feb'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Mar'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Apr'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'May'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Jun'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Jul'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Aug'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Sep'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Oct'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Nov'|trans ~ tagClose)|raw }}
        {{ (tagOpen ~ 'Dec'|trans ~ tagClose)|raw }}

        {% if withTotalCell|default(false) %}
            {{ (tagOpen ~ 'Total'|trans ~ tagClose)|raw }}
        {% endif %}
    </tr>
{% endmacro %}
