{% macro plusMinus(value, string, epsilon) %}
    {% if value > epsilon|default(0) %}
        <span class="plus">{{ string|default(value)|raw }}</span>
    {% elseif value < -epsilon|default(0) %}
        <span class="minus">{{ string|default(value)|raw }}</span>
    {% else %}
        {{ string|default(value)|raw }}
    {% endif %}
{% endmacro %}

{% macro boxedValue(value, unit, label, width, icon) %}
    <div class="boxed-value-outer"{% if width %} style="width:{{ width }};"{% endif %}>
        <div class="boxed-value-container{% if icon %} with-icon{% endif %}">
            {% if icon %}<i class="fa fa-fw {{ icon }}"></i>{% endif %}
            <div class="boxed-value">
                {{ value|raw }}
                <div class="boxed-value-unit">{{ unit|raw }}</div>
            </div>
            <div class="boxed-value-info">{{ label|nbsp|raw }}</div>
        </div>
    </div>
{% endmacro %}

{% macro boxedValueFor(displayableValue, label, width, icon) %}
    {# @var displayableValue \Runalyze\Bundle\CoreBundle\Twig\DisplayableValue #}
    {{ _self.boxedValue(displayableValue.zero ? '-' : displayableValue.value, displayableValue.unit, label, width, icon) }}
{% endmacro %}
