{% extends "base_logged_in.twig" %}

{% from '_macro/form.html.twig' import dangerZoneDelete %}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Add an equipment category'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit equipment category'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset class="without-legend">
            {{ form_row(form.name, {'div_class': 'w100 block with50erLabel'}) }}

            {% if form.vars.data.id is null%}
                {{ form_row(form.input, {'div_class': 'w100 block with50erLabel'}) }}
                <p class="info margin-bottom">
                    {% trans %}Choose the correct type for the equipment{% endtrans %}:<br>
                    <strong>{% trans %}Single choice{% endtrans %}</strong> - {% trans %}You can choose only one object for an activity{% endtrans %}<br>
                    <strong>{% trans %}Multiple choice{% endtrans %}</strong> - {% trans %}You can select multiple objects for an activity{% endtrans %}
                </p>
            {% endif %}

            {{ form_row(form.sport, {'div_class': 'w100 block with50erLabel'}) }}
            <p class="info margin-bottom">
                {% trans %}You can limit equipment categories to specific sports.{% endtrans %}
            </p>

            {{ form_row(form.maxKm, {'div_class': 'w100 block with50erLabel'}) }}
            {{ form_row(form.maxTime, {'div_class': 'w100 block with50erLabel'}) }}
            <p class="info margin-bottom">
                {% trans %}You can add a maximal distance or duration if you want to be warned about objects exceeding their theoretical lifetime. This is used for displaying a progress bar in the equipment widget.{% endtrans %}
            </p>

            {{ form_rest(form) }}

            <div class="c margin-top">
                {% if form.vars.data.id is null%}
                    <input type="submit" value="{% trans %}Add{% endtrans %}" name="submit">
                {% else %}
                    <input type="submit" value="{% trans %}Update{% endtrans %}" name="submit">
                {% endif %}
            </div>
        </fieldset>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% if form.vars.data.id is not null %}
        <div class="panel-heading panel-sub-heading">
            <h1>{% trans %}Assigned equipment{% endtrans %}</h1>
        </div>

        <div class="panel-content">
            {% if equipment|length > 0 %}
                <table class="fullwidth zebra-style more-padding">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'prev. distance'|trans }}</th>
                            <th>{{ 'Start of use'|trans }}</th>
                            <th>{{ 'End of use'|trans }}</th>
                            <th>{{ 'Notes'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="c">
                        {% for entry in equipment %}
                            {# @var entry \Runalyze\Bundle\CoreBundle\Entity\Equipment #}
                            <tr>
                                <td><a class="window" href="{{ url('equipment-edit', {'id': entry.id}) }}"><i class="fa fa-fw fa-pencil"></i></a></td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.additionalKm > 0 ? distance(entry.additionalKm, unitSystem.distanceUnit, 0) : '-' }}</td>
                                <td>{{ entry.dateStart ? entry.dateStart|date('d.m.Y') : '-' }}</td>
                                <td>{{ entry.dateEnd ? entry.dateEnd|date('d.m.Y') : '-' }}</td>
                                <td>{{ entry.notes }}</td>
                                <td><a class="window color-danger" href="{{ url('equipment-delete', { 'id': entry.id, 't': csrf_token('deleteEquipment') }) }}" data-confirm="{% trans %}Do you really want to delete this?{% endtrans %}"><i class="fa fa-trash" title="{{ 'Delete'|trans }}"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <div class="c blocklist blocklist-width-auto margin-top-2x margin-bottom">
                <a class="window" href="{{ url('equipment-add', {'id': form.vars.data.id}) }}"><strong><i class="fa fa-fw fa-plus"></i> {{ 'Add an equipment object'|trans }}</strong></a>
            </div>
        </div>
    {% endif %}

    <div class="panel-content">
        <p class="text margin-top">
            <a class="window" href="{{ url('equipment-overview') }}">&laquo; {% trans %}back to list{% endtrans %}</a>
        </p>
    </div>

    {% if form.vars.data.id is not null %}
        {{ dangerZoneDelete(
            url('equipment-category-delete', {'id': form.vars.data.id}),
            'deleteEquipmentCategory',
            '',
            ['If you delete an equipment category all objects in this category and all relations between your activities and these objects will be deleted.'|trans]
        ) }}
    {% endif %}
{% endblock %}
