{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading"><h1>{% trans %}Your equipment categories{% endtrans %}</h1></div>
        <div class="panel-content">
            {% include 'flashmessages.html.twig' %}
            <table id="equipment-categories" class="fullwidth zebra-style">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'max Km.'|trans }}</th>
                    <th>{{ 'max Time.'|trans }}</th>
                </tr>
                </thead>
                <tbody class="c">
                {% if equipmentTypes|length > 0 %}
                    {% for type in equipmentTypes %}
                        {# @var entry \Runalyze\Bundle\CoreBundle\Entity\EquipmentType #}
                        <tr>
                            <td class="as-small-as-possible"><a class="window" href="{{ url('equipment-category-edit', {'id': type.id}) }}"><i class="fa fa-fw fa-pencil"></i></a>
                                <a class="window" href="{{ url('equipment-category-delete', { 'id': type.id, 't': csrf_token('deleteEquipmentCategory') }) }}" data-confirm="{% trans %}Do you really want to delete this?{% endtrans %}"><i class="fa fa-trash" title="Delete"></i></a>
                            </td>
                            <td>{{ type.name }}</td>
                            {% if type.input == 0 %}
                                <td>{% trans %}Single choice{% endtrans %}</td>
                            {% else %}
                                <td>{% trans %}Multiple choice{% endtrans %}</td>
                            {% endif %}
                            {% if type.maxKm == 0 %}
                            <td>-</td>
                            {% else %}
                            <td>{{ distance(type.maxKm, unitSystem.distanceUnit) }}</td>
                            {% endif %}
                            {% if type.maxTime == 0 %}
                                <td>-</td>
                            {% elseif type.maxTime|date('z', 'UTC') == 0 %}
                                <td>{{ type.maxTime|date('H:i:s', 'UTC') }}</td>
                            {% else %}
                                <td>{{ type.maxTime|date('z\\d H:i:s', 'UTC') }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="9">{% trans %}No equipment available.{% endtrans %}<br>
                            <a class="window" href="{{ url('equipment-add') }}" title="{{ 'Add equipment'|trans }}"><strong>{{ 'Add equipment'|trans }}</strong></a>
                        </td></tr>
                {% endif %}
                </tbody>
            </table>
            <p class="info">{% trans %}If you delete a category all equipment objects of this category as well as all relations between your activities and that equipment objects will be deleted!{% endtrans %}</p>

        </div>

    <div class="panel-heading panel-sub-heading">
        <h1>{{ 'Equipment'|trans }}</h1>
    </div>
    <div class="panel-content">
        <table>
            <tr>
                <td class="blocklist"><a class="window" href="{{ url('equipment-add') }}" title="{{ 'Add equipment'|trans }}"><i class="fa fa-cube"></i> <strong>{{ 'Add equipment'|trans }}</strong></a></td>
                <td class="blocklist"><a class="window" href="{{ url('equipment-category-add') }}" title="{{ 'Add equipment category'|trans }}"><i class="fa fa-cubes"></i><strong>{{ 'Add equipment category'|trans }}</strong></a></td>
            </tr>
        </table>
    </div>


{% endblock %}
