{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}Your equipment categories{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {% if equipmentTypes|length > 0 %}
        <table class="fullwidth zebra-style more-padding">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'max Distance'|trans }}</th>
                <th>{{ 'max Time'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="c">
                {% for type in equipmentTypes %}
                    {# @var type \Runalyze\Bundle\CoreBundle\Entity\EquipmentType #}
                    <tr>
                        <td><a class="window" href="{{ url('equipment-category-edit', {'id': type.id}) }}"><i class="fa fa-fw fa-pencil"></i></a>
                            <a class="window" href="{{ url('equipment-add', {'id': type.id}) }}" title="{{ 'Add equipment'|trans }}"><i class="fa fa-fw fa-plus"></i></a>
                        </td>
                        <td>{{ type.name }}</td>
                        <td>{{ (type.input == 0 ? 'Single choice' : 'Multiple choice')|trans }}</td>
                        <td>{{ type.hasMaximalDistance ? distance(type.maxKm, unitSystem.distanceUnit, 0) : '-' }}</td>
                        <td>{{ type.hasMaximalDuration ? type.maxTime|duration : '-' }}</td>
                        <td><a class="window color-danger" href="{{ url('equipment-category-delete', { 'id': type.id, 't': csrf_token('deleteEquipmentCategory') }) }}" data-confirm="{% trans %}Do you really want to delete this?{% endtrans %}"><i class="fa fa-trash" title="{{ 'Delete'|trans }}"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="text">{% trans %}You don't have any equipment so far.{% endtrans %}</p>
        {% endif %}

        <div class="c blocklist blocklist-width-auto margin-top-2x margin-bottom">
            <a class="window" href="{{ url('equipment-category-add') }}"><strong><i class="fa fa-fw fa-plus"></i> {{ 'Add an equipment category'|trans }}</strong></a>
        </div>
    </div>

{% endblock %}
