{% extends "base.html.twig" %}

{% set body_attributes = ' id="installer"' %}

{% block body %}
    <div id="headline">
        {% block headline %}
            <a class="tab logo" href="https://www.runalyze.com/" target="_blank">Runalyze</a>
        {% endblock %}
    </div>

    <script>(function($){$(document).ready(function(){ Runalyze.init(); });})(jQuery);</script>

    <div id="overlay" style="display:block;"></div>

    <div id="ajax-outer">
        <div id="ajax" class="panel" style="display:block;">
            <div class="panel-heading">
                <div class="panel-menu">
                    <ul>
                        <li class="with-submenu">
                            <span class="link">Language</span>
                            <ul class="submenu">
                                {% for key, locale in locales %}
                                    <li{% if key == app.request.locale %} class="triggered"{% endif %}>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': key})) }}">{{ locale.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <h1>{{ page_title|default('RUNALYZE') }}</h1>
            </div>

            <div class="panel-content">
                <p class="c text">
                    <img src="{{ asset('assets/images/runalyze-start.png') }}">
                </p>
            </div>

            <div class="panel-content">
                <div class="installer-window-container">
                    <div class="w50" id="login-window">
                        {% block content %}
                        {% endblock %}
                    </div>

                    <div id="login-panel">
                        {% if app.request.get('_route') == 'login' %}
                        <a href="{{ path('register') }}"><i class="fa fa-fw fa-lg fa-user"></i> {% trans %}Sign up now{% endtrans %}</a>
                        {% else %}
                        <a href="{{ path('login') }}"><i class="fa fa-fw fa-lg fa-sign-in"></i> {% trans %}Login{% endtrans %}</a>
                        {% endif %}
                    </div>

                    {% block showcase %}
                        {% include 'home_feature_showcase.html.twig' %}
                    {% endblock %}

                    <p class="small clearfix">
                        <span class="right">
                            <a href="http://help.runalyze.com/" target="_blank">{% trans %}Help and Support{% endtrans %}</a>
                            &nbsp;&middot;&nbsp; <a href="https://forum.runalyze.com/" target="_blank">{% trans %}Forum{% endtrans %}</a>
                            &nbsp;&middot;&nbsp; <a href="http://translate.runalyze.com/" target="_blank">{% trans %}Translation{% endtrans %}</a>
                            &nbsp;&middot;&nbsp; <a href="https://blog.runalyze.com/" target="_blank">{% trans %}Blog{% endtrans %}</a>
                        </span>

                        &copy; {{ "now"|date("Y") }} RUNALYZE Team
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
