{% if not app.request.xmlHttpRequest %}<!DOCTYPE html>
<html{{ html_attributes|default('')|raw }}>
{% block html_head %}
    <head>
        {% block html_head_meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
        {% endblock %}

        <base href="{{ url('base_url') }}">

        <script data-pace-options='{"ajax": {"ignoreURLs": ["_internal/notifications"]}, "document": true }' src="{{ asset('vendor/pace/pace.min.js') }}"></script>


        {% block html_head_links %}
            {% block html_head_styles %}
                <link rel="stylesheet" href="{{ asset('assets/css/runalyze-style.css') }}?v={{ RUNALYZE_VERSION }}">
            {% endblock %}

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
            <link rel="manifest" href="{{ asset('assets/appmanifest.json') }}">

            {% block html_head_locales %}
                {% for key, locale in locales %}
                    <link rel="alternate" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': key})) }}" hreflang="{{ key }}">
                {% endfor %}
            {% endblock %}

            {% block html_head_apple_touch_icons %}
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-57x57.png') }}" sizes="57x57">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-72x72.png') }}" sizes="72x72">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-76x76.png') }}" sizes="76x76">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-114x114.png') }}" sizes="114x114">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-120x120.png') }}" sizes="120x120">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-144x144.png') }}" sizes="144x144">
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-152x152.png') }}" sizes="152x152">
            {% endblock %}
        {% endblock %}

        <title>{{ page_title|default('RUNALYZE') }}</title>

        {% block html_head_scripts %}
            <script>document.addEventListener("touchstart", function(){}, true);</script>
            <script src="{{ asset('assets/js/scripts.min.js') }}?v={{ RUNALYZE_VERSION }}"></script>
        {% endblock %}

    </head>
{% endblock %}

<body{{ body_attributes|default('')|raw }}>
{% endif %}

{% block body %}
{% endblock %}

{% include 'analytics.html.twig' %}

{% if not app.request.xmlHttpRequest %}
</body>
</html>
{% endif %}
