{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <div class="panel-menu">
            <ul>
                <li><a class="window" href="{{ url('body-values-table') }}"><i class="fa fa-fw fa-table"></i> {{ 'Show table'|trans }}</a></li>
            </ul>
        </div>

        {% if isNew %}
            <h1>{{ 'Add body values'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit body values'|trans }}</h1>
        {% endif %}

    </div>

    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}
        <fieldset id="body_general">
            <legend onclick="Runalyze.toggleFieldset(this, 'body_general', false, '')">{% trans %}General information{% endtrans %}</legend>
            {{ form_row(form.time, {'div_class': 'w33'}) }}
            {{ form_row(form.weight, {'div_class': 'w33'}) }}
        </fieldset>

        <fieldset id="body_analysis">
            <legend onclick="Runalyze.toggleFieldset(this, 'body_analysis', false, '')">{% trans %}Analysis{% endtrans %}</legend>
                {{ form_row(form.fat, {'div_class': 'w33'}) }}
                {{ form_row(form.water, {'div_class': 'w33'}) }}
                {{ form_row(form.muscles, {'div_class': 'w33'}) }}
        </fieldset>

        <fieldset id="body_heartrate">
            <legend onclick="Runalyze.toggleFieldset(this, 'body_heartrate', false, '')">{% trans %}Heartrate{% endtrans %}</legend>
                {{ form_row(form.pulse_rest, {'div_class': 'w33'}) }}
                {{ form_row(form.pulse_max, {'div_class': 'w33'}) }}
        </fieldset>

        <fieldset id="body_sleep">
            <legend onclick="Runalyze.toggleFieldset(this, 'body_sleep', false, '')">{% trans %}Sleep{% endtrans %}</legend>
                {{ form_row(form.sleep_duration, {'div_class': 'w33'}) }}
        </fieldset>

        <fieldset id="body_notes">
            <legend onclick="Runalyze.toggleFieldset(this, 'body_notes', false, '')">{% trans %}Notes{% endtrans %}</legend>
                {{ form_row(form.notes, {'div_class': 'w100 with33erLabel'}) }}
        </fieldset>

        <div class="c">
            <input type="submit" value="{% trans %}Save{% endtrans %}">
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
