{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <div class="panel-menu">
            <ul>
                <li><a class="window" href="{{ url('body-values-table') }}"><i class="fa fa-fw fa-table"></i> {{ 'Show table'|trans }}</a></li>
            </ul>
        </div>

        {% if isNew %}
        <h1>{{ 'Add body values'|trans }}</h1>
        {% else %}
        <h1>{{ 'Edit body values'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content">
        {{ form.display }}
    </div>
{% endblock %}
