
{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <h1>{{ 'Activity tags'|trans }}</h1>
    </div>

    <div class="panel-content">
        <p class="info">{% trans %}This list shows all your activity tags.{% endtrans %}{% trans %}You can add new tags in the activity form.{% endtrans %}</p>
        <table id="sports" class="fullwidth zebra-style">
            <thead>
            <tr>
                <thb colspan="1">&nbsp</thb>
                <th colspan="3">{{ 'Tag'|trans }}</th>
            </tr>
            </thead>
            <tbody class="c">
            {% if tags|length > 0 %}
                {% for tag in tags %}
                    {# @var entry \Runalyze\Bundle\CoreBundle\Entity\Tag #}
                    <tr>
                        <td colspan="1">
                            <a class="window" href="{{ url('tag-edit', {'id': tag.id}) }}"><i class="fa fa-fw fa-pencil"></i></a>
                            <a class="window" href="{{ url('tag-delete', { 'id': tag    .id, 't': csrf_token('deleteTag') }) }}"><i class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></i></a>
                        </td>
                        <td colspan="3">{{ tag.tag }}</td>
                    </tr>
                {% endfor %}
                {% else %}
            <tr><td colspan="2">{% trans %}You don't have any activity tags.{% endtrans %}<br>
                    {% endif %}
            </tbody>
        </table>
    </div>


{% endblock %}
