{% extends 'tools/tables/base.html.twig' %}

{% set activeTable = 1 %}

{% block table %}
    <table class="zebra-style c" style="width: 700px;">
        <thead>
            <tr>
                <th>{{ 'Effective VO2max'|trans }}</th>
                {% for km in distances %}
                    <th>{{ distance(km) }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="highlight bottom-spacer">
                <td class="b">{{ currentVo2max|round }}</td>
                {% for km in distances %}
                    <td>{{ prognosis.secondsFor(km, currentVo2max|round)|duration }}</td>
                {% endfor %}
            </tr>
        </tbody>
        <tbody>
            {% for vo2max in vo2maxValues %}
                <tr>
                    <td class="b">{{ vo2max }}</td>
                    {% for km in distances %}
                        <td>{{ prognosis.secondsFor(km, vo2max)|duration }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="info">
        {% trans %}This table does <strong>not</strong> use a correction based on your current marathon shape.{% endtrans %}
    </p>
{% endblock %}
