{% extends 'base_logged_in.twig' %}

{% block content %}
    <div class="panel-heading">
        <h1><a class="ajax" target="ajax" href="{{ url('poster') }}">{% trans %}Poster generator{% endtrans %}</a></h1>
    </div>

    <div class="panel-content">
        {% block toolContent %}
        <div class="panel-content">
            {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reloads'} }) }}
            <div class="w100">
                {{ form_row(form.postertype, {'label': 'Choose postertype(s)'|trans}) }}
            </div>
            <div class="w100">
                {{ form_row(form.sport, {'label': 'Choose sport'|trans}) }}
            </div>
            <div class="w100">
                {{ form_row(form.year, {'label': 'Choose year'|trans}) }}
            </div>
            <div class="w100">
                {{ form_row(form.title) }}
            </div>

            <div class="c">
                <input type="submit" value="{% trans %}Generate posters{% endtrans %}">
            </div>
            {{ form_rest(form) }}

            {{ form_end(form) }}

            <p class="info">{% trans %}Posters are generated in the background. This will take some time.{% endtrans %}</p>

        </div>

        {% endblock %}
    </div>
{% endblock %}
