{% extends "login/base.html.twig" %}

{% block form %}
<script type="text/javascript">
$(function(){
document.getElementById("registration_textTimezone").value = moment.tz.guess();
});
</script>

    {{ form_start(form) }}
<fieldset>
    <legend>{% trans %}Create a new account{% endtrans %}</legend>
    {{ form_row(form.username) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.termsAccepted) }}
    {{ form_rest(form) }}
    <div class="c">
        <input type="submit" value="{% trans %}Register{% endtrans %}" name="submit">
    </div>
</fieldset>
    {{ form_end(form) }}
{% endblock %}
