{% extends "login/base.html.twig" %}

{% block form %}
<script type="text/javascript">
$(function(){
document.getElementById("registration_textTimezone").value = moment.tz.guess();
});
</script>

    {{ form_start(form) }}
<fieldset>
    <legend>{% trans %}Create a new account{% endtrans %}</legend>
    {{ form_row(form.username) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.plainPassword) }}
    <label for="registration_termsAccepted">
    {% trans with {'%a%': '<a href="https://blog.runalyze.com/de/nutzungsbedingungen/" target="_blank">', '%b%':'</a>'} %} Accept our %a% terms of use %b% {% endtrans %}
    </label>
    {{ form_widget(form.termsAccepted) }}
    {{ form_errors(form.termsAccepted) }}
    {{ form_rest(form) }}
    <div class="c">
        <input type="submit" value="{% trans %}Register{% endtrans %}" name="submit">
    </div>
</fieldset>
    {{ form_end(form) }}
{% endblock %}
