{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}Analysis{% endtrans %}</h1>
    </div>
    <p class="file">
        <a class="ajax" href="{{ url('tools-trend-analysis') }}" target="ajax">
            <strong class="block">{% trans %}Trend analysis{% endtrans %}</strong>
            <small class="block">
                {% trans %}See how your activity's values evolve over time.{% endtrans %}
            </small>
        </a>
    </p>
    <p class="file">
        <a class="ajax" href="{{ url('tools-anova') }}" target="ajax">
            <strong class="block">{% trans %}ANOVA{% endtrans %}</strong>
            <small class="block">
                {% trans %}Compare your activity's values grouped by common values (e.g. sport or activity type) for a given period.{% endtrans %}
            </small>
        </a>
    </p>
    <p class="file">
        <a class="ajax" href="{{ url('tools-vo2max-analysis') }}" target="ajax">
            <strong class="block">{% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Analyze your %VO2max%{% endtrans %}</strong>
            <small class="block">
                {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Predicting your effective %VO2max% based on your training values is imprecise.
                This plugin lists your races and compares your results with the predicted values.
                This way you can get an impression of how well the prediction works for you.{% endtrans %}
            </small>
        </a>
    </p>

    <p class="file">
        <a class="ajax" href="{{ url('tools-tables') }}" target="ajax">
            <strong class="block">{% trans %}Running tables{% endtrans %}</strong>
            <small class="block">
                {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Tables for effective %VO2max% values and general tables like a pace calculator.{% endtrans %}
            </small>
        </a>
    </p>

    <div class="panel-heading panel-sub-heading">
        <h1>{% trans %}Gimmick{% endtrans %}</h1>
    </div>

    {% if posterAvailable %}
        <p class="file">
            <a class="ajax" href="{{ url('poster') }}" target="ajax">
                <strong class="block">{% trans %}Poster generator{% endtrans %}</strong>
                <small class="block">
                    {% trans %}This tool allows you to create beautiful posters of your activity data.{% endtrans %}
                </small>
            </a>
        </p>
    {% endif %}

    <div class="panel-heading panel-sub-heading">
        <h1>{% trans %}Others{% endtrans %}</h1>
    </div>
    <p class="file">
        <a class="ajax" href="{{ url('tools-backup') }}" target="ajax">
            <strong class="block">{% trans %}Database export{% endtrans %}</strong>
            <small class="block">
                {% trans %}This tool allows you to export your complete data as sql dump or json dump that can be imported into any RUNALYZE installation.{% endtrans %}
            </small>
        </a>
    </p>

    <p class="file">
        <a class="ajax" href="{{ url('tools-backup-json') }}" target="ajax">
            <strong class="block">{% trans %}Database import{% endtrans %}</strong>
            <small class="block">
                {% trans %}This tool allows you to import an existing json dump of any other RUNALYZE installation.{% endtrans %}
            </small>
        </a>
    </p>

        <p class="file">
            <a class="ajax" href="{{ url('tools-cleanup') }}" target="ajax">
                <strong class="block">{% trans %}Database cleanup{% endtrans %}</strong>
                <small class="block">
                    {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Due to performance reasons, some statistics are saved in the database.
                        You can trigger a recalculation if you think they are wrong.
                        In addition, values for elevation, TRIMP and %VO2max% can be recalculated.{% endtrans %}
                </small>
            </a>
        </p>
    <p class="file">
        <a class="ajax" href="{{ url('multi-editor') }}" target="ajax">
            <strong class="block">{% trans %}Multi editor{% endtrans %}</strong>
            <small class="block">
                {% trans %}This tool allows you to edit multiple activities one after another.
                At the moment it's not possible to edit multiple activities with only one form.{% endtrans %}
            </small>
        </a>
    </p>

{% endblock %}
