{% extends 'base_logged_in.twig' %}

{% import '_macro/tablesorter.html.twig' as tablesorter %}
{% from '_macro/utilities.html.twig' import plusMinus %}

{% block content %}
    {# @var conf \Runalyze\Bundle\CoreBundle\Component\Configuration\RunalyzeConfigurationList #}
    {% set conf = config() %}

    <div class="panel-heading">
        <h1><a class="ajax" target="ajax" href="{{ url('tools-vo2max-analysis') }}">{% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Analyze your %VO2max%{% endtrans %}</a></h1>
    </div>

    <div class="panel-content">
        <p class="text">
            {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Predicting your effective %VO2max% based on your training values is imprecise.
                This tool lists your races and compares all results with predicted values.
                This way you can get an impression of how well our prediction works for you.{% endtrans %}
        </p>

        <table id="vo2maxAnalysisTable" class="fullwidth zebra-style">
            <thead>
                <tr>
                    <th class="{sorter:'germandate'}">{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Race{% endtrans %}</th>
                    <th class="{sorter:'distance'}">{% trans %}km{% endtrans %}</th>
                    <th>{% trans %}Time{% endtrans %}</th>
                    <th>VO<sub>2</sub>max</th>
                    <th>{% trans %}HR{% endtrans %}</th>
                    <th>VO<sub>2</sub>max<br><small>({% trans %}by&nbsp;HR{% endtrans %})</small></th>
                    <th>{% trans %}Time{% endtrans %}<br><small>({% trans %}by&nbsp;HR{% endtrans %})</small></th>
                    <th>VO<sub>2</sub>max<br><small>({% trans %}corrected{% endtrans %})</small></th>
                    <th>{% trans %}Time{% endtrans %}<br><small>({% trans %}corrected{% endtrans %})</small></th>
                    <th>VO<sub>2</sub>max<br><small>({% trans %}Shape{% endtrans %})</small></th>
                    <th>{% trans %}Time{% endtrans %}<br><small>({% trans %}Shape{% endtrans %})</small></th>
                    <th>{% trans %}Deviation{% endtrans %}<br><small>({% trans %}Shape{% endtrans %})</small></th>
                    <th>{% trans %}Corrector{% endtrans %}</th>
                </tr>
            </thead>
            <tbody class="r">
                {% for race in races %}
                <tr>
                    <td class="small c">{{ race.date }}</td>
                    <td class="b l">{{ race.name }}</td>
                    <td>{{ race.distance|raw }}</td>
                    <td class="b">{{ race.duration }}</td>
                    <td>{{ race.vo2maxByTime|number_format(2) }}</td>
                    <td>{{ race.heartRateInBpm }}</td>
                    <td>{{ race.vo2maxByHeartRate|number_format(2) }}</td>
                    <td class="b">{{ race.prognosisByHeartRate }}</td>
                    <td>{{ race.vo2maxByHeartRateAfterCorrection|number_format(2) }}</td>
                    <td class="b">{{ race.prognosisByHeartRateAfterCorrection }}</td>
                    <td>{{ race.vo2maxByShape|number_format(2) }}</td>
                    <td class="b">{{ race.prognosisByShape }}</td>
                    <td>{{ plusMinus(race.shapeDeviation, race.shapeDeviation ~ " &#37;", 2) }}</td>
                    <td>{{ race.correctionFactor|number_format(4) }}</td>
                </tr>
                {% endfor %}

                {% if races is empty %}
                <tr>
                    <td class="c" colspan="14"><em>{% trans %}You did not run any races.{% endtrans %}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        {% if races is not empty %}
            {{ tablesorter.pager('#vo2maxAnalysisTable', true) }}
        {% endif %}

        <p class="info">
            {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}<strong>%VO2max%/Time:</strong> by standard formulas.<br>
                The time is what you could have reached at your maximal possible heart rate over this distance.{% endtrans %}
        </p>

        <p class="info">
            {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}<strong>%VO2max%/Time (corrected):</strong> after individual correction (factor: %vo2maxFactor%)<br>
                The time is what you could have reached at your maximal possible heart rate over this distance.{% endtrans %}
        </p>

        <p class="info">
            {% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}<strong>%VO2max%/Time (Shape):</strong> by your shape at that time<br>
                The time is the prognosis by Runalyze.{% endtrans %}
        </p>

        <p class="info">
            {% trans %}<strong>Corrector:</strong> Ratio between %VO2max% and %VO2max% (by HR){% endtrans %}
        </p>

        {% if conf.vo2max.useCorrectionForElevation %}
        <p class="warning">
            {% trans %}The distance correction for elevation is not used in this table.{% endtrans %}
        </p>
        {% endif %}

        <script>
            (function($){$(document).ready(function(){ $("#ajax").addClass("big-window"); });})(jQuery);
        </script>
    </div>
{% endblock %}
