{% extends "base_logged_in.twig" %}

{% from '_macro/form.html.twig' import dangerZoneDelete, addOrUpdateButton %}

{% set configList = config().activityForm %}
{# @var configList \Runalyze\Bundle\CoreBundle\Component\Configuration\Category\ActivityForm #}

{% set generalConfig = config().general %}
{# @var configList \Runalyze\Bundle\CoreBundle\Component\Configuration\Category\General #}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Add new sport'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit sport'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content margin-bottom-2x">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset>
            <legend>{% trans %}General settings{% endtrans %}</legend>

            {{ form_row(form.name, {'div_class': 'w100 block with50erLabel'}) }}

            {{ form_row(form.img, {'div_class': 'w100 block with50erLabel', 'attr': {'class': 'fip-select'}}) }}

            {% if form.internalSportId %}
            {{ form_row(form.internalSportId, {'div_class': 'w100 block with50erLabel'}) }}
            <p class="info margin-bottom">
                {% trans %}You can define any sport you like, but for synchronization and comparisons you can map your sports to our predefined ones.
                This mapping will be used to set the correct sport when importing your activities.{% endtrans %}
            </p>
            {% endif %}

            {{ form_row(form.isMain, {'div_class': 'w100 block with50erLabel'}) }}
            <p class="info margin-bottom">
                {% trans %}You can group your sports into 'main' and 'alternative' ones.
                For some analyses 'alternative' types are grouped together whereas 'main' types are always shown standalone from each other.{% endtrans %}
            </p>

            {{ form_row(form.defaultPrivacy, {'div_class': 'w100 block with50erLabel'}) }}
            <p class="info margin-bottom">
                {% trans %}Default privacy setting for all new created activities of this sport type.{% endtrans %}
            </p>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Activity import{% endtrans %}</legend>

            {% if form.defaultType %}
                {{ form_row(form.defaultType, {'div_class': 'w100 block with50erLabel'}) }}
                <p class="info margin-bottom">
                    {% trans %}The default activity type will be selected automatically when importing activities.{% endtrans %}
                </p>
            {% endif %}

            {{ form_row(form.kcal, {'div_class': 'w100 block with50erLabel', 'help': 'Average energy turnover in kilocalories per hour'}) }}
            {% if configList.computingEnergyActivated %}
            <p class="info margin-bottom">
                {% trans %}Energy turnover will be calculated based on this value when changing sport or duration.{% endtrans %}
            </p>
            {% else %}
                <p class="info margin-bottom">
                    {% trans %}You have deactivated automatic calculation of energy turnover in your settings.{% endtrans %}
                </p>
            {% endif %}

            {{ form_row(form.HFavg, {'div_class': 'w100 block with50erLabel', 'attr': {'class': 'small-size'}}) }}
            <p class="info margin-bottom">
                {% trans %}Average heart rate will be used as fallback for calculations like TRIMP if no heart rate data is available.{% endtrans %}
            </p>

            {{ form_row(form.power, {'div_class': 'w100 block checkbox-first', 'help': 'Power is recorded or calculated.'}) }}
            {{ form_row(form.outside, {'div_class': 'w100 block checkbox-first', 'help': 'Sport is performed outdoor: activate route, weather, ...'}) }}
            {{ form_row(form.distances, {'div_class': 'w100 block checkbox-first margin-bottom'}) }}
        </fieldset>

        <fieldset class="margin-bottom">
            <legend>{% trans %}Display options{% endtrans %}</legend>

            {{ form_row(form.speed, {'div_class': 'w100 block with50erLabel' ~ (form.vars.data.distances ? '' : ' hide')}) }}

            {{ form_row(form.short, {'div_class': 'w100 block with50erLabel', 'help': 'Mode for displaying activities in calendar'}) }}

            {% if form.mainEquipmenttype %}
                {{ form_row(form.mainEquipmenttype, {'div_class': 'w100 block with50erLabel', 'help': 'Objects of main equipment type can be shown in the activity overview.'}) }}
            {% endif %}
        </fieldset>

        <fieldset class="without-legend">
            {{ form_rest(form) }}

            <div class="c margin-top">
                {{ addOrUpdateButton(form.vars.data.id is null) }}
            </div>
        </fieldset>

        {{ form_rest(form) }}
        {{ form_end(form) }}

        <script>$("#sport_distances").off('change').on('change', function(){$("#sport_speed").parent().toggleClass('hide', !$(this).is(':checked'))});</script>
    </div>

    {% if form.vars.data.id is not null%}
        <div class="panel-heading panel-sub-heading">
            <h1>{% trans %}Assigned activity types{% endtrans %}</h1>
        </div>

        <div class="panel-content">
            <p class="info margin-bottom">
                {% trans %}Activity types are useful to separate your activities into different categories. An activity type can only belong to one sport.{% endtrans %}
            </p>

            {% if types|length > 0 %}
            <table id="assigned-sport-types" class="fullwidth zebra-style more-padding">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Abbreviation'|trans }}</th>
                    <th>{{ 'avg. HR'|trans }}</th>
                    <th>{{ 'Quality'|trans }}</th>
                    <th>{{ 'Calendar view'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="c">
                    {% for type in types %}
                        {# @var type \Runalyze\Bundle\CoreBundle\Entity\Type #}
                        <tr>
                            <td>
                                <a class="window" href="{{ url('sport-type-edit', {'id': type.id}) }}"><i class="fa fa-fw fa-pencil"></i></a>
                                <a class="window" href="{{ url('my-search') }}?get=true&amp;typeid={{ type.id }}" data-size="big"><i class="fa fa-fw fa-search" title="{% trans %}Search activities{% endtrans %}"></i></a>
                            </td>
                            <td>{{ type.name }}</td>
                            <td>{{ type.abbr }}</td>
                            <td>{{ type.hrAvg }} <small>bpm</small></td>
                            <td>{% if type.qualitySession %}<i class="fa fa-fw fa-check"></i>{% endif %}</td>
                            <td>{{ calendarView.stringFor(type.displayMode) }}</td>
                            <td>
                                {% if hasTrainings[type.id] is not defined %}
                                    <a class="window color-danger" href="{{ url('sport-type-delete', { 'id': type.id, 't': csrf_token('deleteSportType') }) }}" data-confirm="{% trans %}Do you really want to delete this?{% endtrans %}"><i class="fa fa-fw fa-trash" title="{% trans %}Delete{% endtrans %}"></i></a>
                                {% else %}
                                    <i class="fa fa-fw fa-trash unimportant cursor-not-allowed" rel="tooltip" title="{% trans %}Activity type cannot be deleted.{% endtrans %}<br>{% trans %}You have activities associated with this type.{% endtrans %}"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <div class="c blocklist blocklist-width-auto">
                <a class="window" href="{{ url('sport-type-add', {'sportid': form.vars.data.id}) }}"><strong><i class="fa fa-fw fa-plus"></i> {{ 'Add activity type'|trans }}</strong></a>
            </div>
        </div>
    {% endif %}

    <div class="panel-content">
        <p class="text margin-top">
            <a class="window" href="{{ url('settings-sports') }}">&laquo; {% trans %}back to list{% endtrans %}</a>
        </p>
    </div>

    {% if form.vars.data.id is not null and form.vars.data.trainings.count() < 1 and generalConfig.getMainSport != form.vars.data.id %}
       {{ dangerZoneDelete(url('sport-delete', {'id': form.vars.data.id}), 'deleteSport') }}
    {% endif %}
{% endblock %}
