{% extends "base_logged_in.twig" %}

{% from '_macro/form.html.twig' import dangerZoneDelete, addOrUpdateButton %}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Add sport type'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit sport type'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content margin-bottom-2x">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset class="without-legend">
            {{ form_row(form.name, {'div_class': 'w100 block'}) }}
            {{ form_row(form.distances, {'div_class': 'w100 block'}) }}
            {{ form_row(form.power, {'div_class': 'w100 block', 'help': 'Power is recorded or calculated.'}) }}
            {{ form_row(form.outside, {'div_class': 'w100 block', 'help': 'Sport is performed outdoor: activate route, weather, ...'}) }}
            {{ form_row(form.mainEquipmenttype, {'div_class': 'w100 block', 'help': 'Objects of main equipment type can be shown in the activity overview.'}) }}
            {% if form.defaultType %}
            {{ form_row(form.defaultType, {'div_class': 'w100 block', 'help': 'Autoselected activity type e.g. during upload'}) }}
            {% endif %}
            {{ form_row(form.kcal, {'div_class': 'w100 block', 'help': 'Average energy turnover in kilocalories per hour'}) }}
            {{ form_row(form.HFavg, {'div_class': 'w100 block', 'help': 'Avg. HF is necessary for the calculation of TRIMP.'}) }}
            {{ form_row(form.short, {'div_class': 'w100 block', 'help': 'Mode for displaying activities in calendar'}) }}
            {{ form_row(form.speed, {'div_class': 'w100 block'}) }}

            {{ form_rest(form) }}

            <div class="c margin-top">
                {{ addOrUpdateButton(form.vars.data.id is null) }}
            </div>
        </fieldset>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% if form.vars.data.id is not null%}
        <div class="panel-heading panel-sub-heading">
            <h1>{% trans %}Assigned activity types{% endtrans %}</h1>
        </div>

        <div class="panel-content">
            <table id="assigned-sport-types" class="fullwidth zebra-style more-padding">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Abbreviation'|trans }}</th>
                    <th>{{ 'avg. HR'|trans }}</th>
                    <th>{{ 'Quality'|trans }}</th>
                    <th>{{ 'Calendar view'|trans }}</th>
                </tr>
                </thead>
                <tbody class="c">
                {% if types|length > 0 %}
                    {% for type in types %}
                        {# @var type \Runalyze\Bundle\CoreBundle\Entity\Type #}
                        <tr>
                            <td><a class="window" href="{{ url('sport-type-edit', {'id': type.id}) }}"><i class="fa fa-fw fa-pencil"></i></a>
                                {% if hasTrainings[type.id] is not defined %}
                                    <a class="window" href="{{ url('sport-type-delete', { 'id': type.id, 't': csrf_token('deleteSportType') }) }}"><i class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></i></a>
                                {% else %}
                                    &nbsp;
                                    &nbsp;
                                {% endif %}
                                <a class="window" href="{{ url('my-search') }}?get=true&amp;typeid={{ type.id }}"><i class="fa fa-fw fa-search" title="{% trans %}Search activities{% endtrans %}"></i></a>
                            </td>
                            <td>{{ type.name }}</td>
                            <td>{{ type.abbr }}</td>
                            <td>{{ type.hrAvg }}</td>
                            <td>{% if type.qualitySession %}<i class="fa fa-fw fa-check"></i>{% endif %}</td>
                            <td>{{ calendarView.stringFor(type.short) }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6">
                {% else %}
                    <tr><td colspan="6"><em>{% trans %}No activity type available.{% endtrans %}</em><br>
                {% endif %}
                        <a class="window" href="{{ url('sport-type-add') }}"><strong><i class="fa fa-fw fa-plus"></i> {{ 'Add activity type'|trans }}</strong></a>
                    </td></tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="panel-content">
        <p class="text margin-top">
            <a class="window" href="{{ url('settings-sports') }}">&laquo; {% trans %}back to list{% endtrans %}</a>
        </p>
    </div>

    {% if form.vars.data.id is not null and form.vars.data.trainings.count is null %}
        {{ dangerZoneDelete(url('sport-delete', {'id': form.vars.data.id}), 'deleteSport') }}
    {% endif %}
{% endblock %}
