{% extends "base_logged_in.twig" %}

{% from '_macro/form.html.twig' import dangerZoneDelete %}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Add activity type'|trans }}</h1>
        {% else %}
            <h1>{{ 'Edit activity type'|trans }}</h1>
        {% endif %}
    </div>

    <div class="panel-content margin-bottom-2x">
        {% include 'flashmessages.html.twig' %}

        <p class="info">{% trans %}Activity types are useful to separate your activities into different categories. An activity type can only belong to one sport type.{% endtrans %}</p>

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset class="without-legend">
            {{ form_row(form.name, {'div_class': 'w100 block'}) }}
            {{ form_row(form.abbr, {'div_class': 'w100 block'}) }}
            {{ form_row(form.hrAvg, {'div_class': 'w100 block', 'help': 'Average heart rate (used for calculation of TRIMP)'}) }}
            {{ form_row(form.qualitySession, {'div_class': 'w100 block', 'help': 'Quality sessions will be emphasized in your calendar.'}) }}
            {{ form_row(form.short, {'div_class': 'w100 block', 'help': 'Mode for displaying activities in calendar'}) }}

            {{ form_rest(form) }}

            <div class="c margin-top">
                {% if form.vars.data.id is null%}
                    <input type="submit" value="{% trans %}Add{% endtrans %}" name="submit">
                {% else %}
                    <input type="submit" value="{% trans %}Update{% endtrans %}" name="submit">
                {% endif %}
            </div>
        </fieldset>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% if form.vars.data.id is not null and form.vars.data.trainings.count is null %}
        {{ dangerZoneDelete(url('sport-type-delete', {'id': form.vars.data.id}), 'deleteSport') }}
    {% endif %}
{% endblock %}
