{% extends "shared/base.html.twig" %}

{% set body_attributes = ' id="shared"' %}
{% set page_title = 'Athlete'|trans ~ ': ' ~ account.username ~ ' | RUNALYZE' %}

{% block html_head_links %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" href="{{ url('shared-athlete-feed', {'username': account.username}) }}" />
{% endblock %}

{% block content %}

    {# @var configObject \Runalyze\Bundle\CoreBundle\Component\Configuration\RunalyzeConfigurationList #}
    {% set configObject = config(account) %}

    {% if not app.request.xmlHttpRequest %}
        <div class="panel" style="width:960px;margin:5px auto;">
            <div id="public-tabs">
                <div class="panel-heading">
                    {% if accountStatistics %}
                        <div class="panel-menu">
                            <ul class="">
                                <li><a class="triggered change" target="public-tabs" href="#statistics-general">{% trans %}General statistics{% endtrans %}</a></li>
                                <li><a class="change" target="public-tabs" href="#statistics-years">{% trans %}Year on year{% endtrans %} ({% trans %}Running{% endtrans %})</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    <h1>{% trans with {'%username%': account.username} %}Activity data of %username%{% endtrans %}</h1>
                    <a rel="alternate" type="application/rss+xml" href="{{ url('shared-athlete-feed', {'username': account.username}) }}" title="{% trans with {'%username%': account.username} %}Follow %username% via RSS-Feed{% endtrans %}"><i class="fa fa-fw fa fa-rss"></i></a>
                </div>
                {% if accountStatistics %}
                    <div class="panel-content">
                        <div id="statistics-general" class="change">
                            <table class="fullwidth">
                                <tbody>
                                <tr>
                                    <td class="b">{% trans %}Total distance{% endtrans %}:</td>
                                    <td>{{ distance(accountStatistics.totalDistance, configObject.unitSystem.distanceUnit)|raw }}</td>
                                    <td class="b">{% trans %}Number of activities{% endtrans %}:</td>
                                    <td>{{ accountStatistics.numberOfActivities }}x</td>
                                </tr>
                                <tr>
                                    <td class="b">{% trans %}Total duration{% endtrans %}:</td>
                                    <td>{{ accountStatistics.totalDuration|duration }}</td>
                                    <td class="b">{% trans %}First activity{% endtrans %}:</td>
                                    <td>{{ configObject.get('data.START_TIME')|date('d.m.Y') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="statistics-years" class="change" style="display:none;">
                            {{ legacyStatistics.yearComparisonTable.display|raw }}
                            {{ legacyStatistics.tabForComparisonOfYears|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="data-browser" class="panel" style="width:960px;margin:5px auto;">
        <div id="publicList">
    {% endif %}

    {{ dataBrowser.display }}

    {% if not app.request.xmlHttpRequest %}
        </div>
        </div>

        <div id="statistics-inner" class="panel" style="width:960px;margin:5px auto;">
            <div class="panel-content">
                <p class="info">
                    {% trans %}Click on an activity to see more details.{% endtrans %}<br>
                    {% trans %}Public activities are marked: {% endtrans %} <i class="fa fa-fw fa-plus fa-green"></i>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}
