{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading">
    <h1>{% trans %}Account settings{% endtrans %}</h1>
</div>
<div class="panel-content">
    <div class="panel-content">
        {% include 'flashmessages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

        <fieldset id="legend0">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend0', false, '')">{% trans %}Your acccount{% endtrans %}</legend>
            {{ form_row(form.username, {'div_class': 'w100 block'}) }}
            {{ form_row(form.name, {'div_class': 'w100 block'}) }}
            {{ form_row(form.mail, {'div_class': 'w100 block'}) }}
            {{ form_row(form.language, {'div_class': 'w100 block'}) }}
            {{ form_row(form.timezone, {'div_class': 'w100 block'}) }}
            {{ form_row(form.gender, {'info': 'Used for calculating energy consumption and age grading.'|trans , 'div_class': 'w100 block'}) }}
            {{ form_row(form.birthyear, {'info': 'Used for age grading.'|trans , 'div_class': 'w100 block'}) }}
            {{ form_row(form.allow_support, {'info': 'Allow admins in case of support requests to have a look at your data.'|trans , 'div_class': 'w100 block'}) }}
        </fieldset>

        <fieldset id="legend1">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend1', false, '')">{% trans %}E-Mail{% endtrans %}</legend>
            {{ form_row(form.allow_mails, {'info': 'At irregular intervals we are sending mails to you. We will never send you spam or advertisement.'|trans }) }}
            <div class="fieldset-messages">
                <p class="info"><a class="window" href="{{ path('settings-mail') }}">{% trans %}Change your mail address{% endtrans %} &raquo;</a></p>
            </div>
        </fieldset>

        <fieldset id="legend2" class="collapsed">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend2', false, '')">{% trans %}Change your password{% endtrans %}</legend>
            <div class="fieldset-messages">
                <p class="info"><a class="window" href="{{ path('settings-password') }}">{% trans %}Change your password{% endtrans %} &raquo;</a></p>
            </div>
        </fieldset>

        <fieldset id="legend3" class="collapsed">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend3', false, '')">{% trans %}Backup your data{% endtrans %}</legend>
            <div class="fieldset-messages">
                <p class="info">{% trans %}Please use the plugin{% endtrans %} '<strong><a data-size="big" class="window" href="{{ url('tools-backup') }}">{% trans %}Database import/export{% endtrans %}</a></strong>'.</p>
            </div>
        </fieldset>

        <fieldset id="legend4" class="collapsed">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend4', false, '')">{% trans %}Reset configuration{% endtrans %}</legend>
            {{ form_row(form.reset_configuration, {'info': 'This will not touch any general settings like gender or main sport.'|trans }) }}
        </fieldset>

        <fieldset id="legend5" class="collapsed">
            <legend onclick="Runalyze.toggleFieldset(this, 'legend5', false, '')">{% trans %}Delete your account{% endtrans %}</legend>
            <div class="fieldset-messages">
                <p class="warning">
                    <strong><a class="window" href="{{ path('settings-account-delete') }}">Delete your account »</a></strong>
                    <br>
                    {% trans %}You'll receive an email with a link to confirm the deletion.{% endtrans %}<br>
                    {% trans %}The deletion is permanent and cannot be reversed. Therefore, you should backup your data.{% endtrans %}
                </p>
            </div>
        </fieldset>

        <input type="submit" value="{% trans %}Save{% endtrans %}" />

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
