{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading">
    <h1>{% trans %}Change mail address{% endtrans %}</h1>
</div>
<div class="panel-content">
    {% include 'flashmessages.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'ajax no-automatic-reload'} }) }}

    <fieldset>
        <legend>{% trans %}Change mail address{% endtrans %}</legend>

        {{ form_row(form.password) }}
        {{ form_row(form.mail) }}
        {{ form_rest(form) }}

        <div class="c">
            <input type="submit" value="{% trans %}Change{% endtrans %}" name="submit">
        </div>
    </fieldset>

    {{ form_end(form) }}

    <p class="text">
        <a class="window" href="{{ path('settings-account') }}">&laquo; {% trans %}go back{% endtrans %}</a>
    </p>
</div>
{% endblock %}
