{% extends "base_logged_in.twig" %}

{% block content %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'ajax no-automatic-reload', 'id': 'activity'}, 'action': url('poster')}) }}

<div id="left">
    <fieldset id="general">
        <legend onclick="Runalyze.toggleFieldset(this, 'general', false, '')">{% trans %}General{% endtrans %}</legend>
            {{ form_row(form.sport, {'div_class': 'w50'}) }}
            {{ form_row(form.type, {'div_class': 'w50'}) }}
          {{ form_row(form.s, {'div_class': 'w50'}) }}
         {{ form_row(form.rpe, {'div_class': 'w50', 'help': 'Rating of Perceived Exertion or Borg scale, a scale devised to show perceived exertion during exercise'}) }}

            {{ form_row(form.use_vo2max, {'div_class': 'w50 only-running'}) }}
            {{ form_row(form.distance, {'div_class': 'w50'}) }}
            {{ form_row(form.pace, {'div_class': 'w50'}) }}

            {{ form_row(form.is_public, {'div_class': 'w50'}) }}
            {{ form_row(form.is_race, {'div_class': 'w50', 'help': 'Race results are treated in a special way to show your personal bests and are independent of the chosen activity type. You can add some details below.'}) }}
    </fieldset>
        <fieldset id="miscellaneous">
        <legend onclick="Runalyze.toggleFieldset(this, 'pulse', false, '')">{% trans %}miscellaneous{% endtrans %}</legend>
        {{ form_row(form.pulseAvg, {'div_class': 'w50'}) }}
        {{ form_row(form.pulseMax, {'div_class': 'w50'}) }}

        {{ form_row(form.kcal, {'div_class': 'w50', 'help':'This value will be calculated automatically from duration and sport settings (if activated in your configuration) only if you change the duration or the type of sport.'}) }}
        {{ form_row(form.title, {'div_class': 'w50'}) }}
        {{ form_row(form.kcal, {'div_class': 'w50'}) }}
        {{ form_row(form.routename, {'div_class': 'w50'}) }}
        {{ form_row(form.partner, {'div_class': 'w50'}) }}

    </fieldset>

    <fieldset id="routeDetails">
        <legend onclick="Runalyze.toggleFieldset(this, 'pulse', false, '')">{% trans %}Route Details{% endtrans %}</legend>
        {{ form_row(form.elevation, {'div_class': 'w50', 'help':'Will be calculated afterwards from the activity\'s elevation profile.'}) }}
        {{ form_row(form.is_track, {'div_class': 'w50'}) }}


    </fieldset>

    <fieldset id="weather">
        <legend onclick="Runalyze.toggleFieldset(this, 'weather', false, '')">{% trans %}Weather{% endtrans %}</legend>
        {{ form_row(form.weatherid, {'div_class': 'only-outside'}) }}

        {{ form_row(form.temperature, {'div_class': 'w50 only-outside'}) }}
        {{ form_row(form.wind_deg, {'div_class': 'w50 only-outside'}) }}
        {{ form_row(form.wind_speed, {'div_class': 'w50 only-outside'}) }}
        {{ form_row(form.humidity, {'div_class': 'w50 only-outside'}) }}
        {{ form_row(form.pressure, {'div_class': 'w50 only-outside'}) }}

        {{ form_row(form.pulseAvg, {'div_class': 'w50'}) }}
        {{ form_row(form.pulseMax, {'div_class': 'w50'}) }}

        {{ form_row(form.kcal, {'div_class': 'w50'}) }}
        {{ form_row(form.title, {'div_class': 'w50'}) }}
        {{ form_row(form.kcal, {'div_class': 'w50'}) }}
        {{ form_row(form.partner, {'div_class': 'w50'}) }}



    </fieldset>
    <fieldset id="equipment">
        <legend onclick="Runalyze.toggleFieldset(this, 'equipment', false, '')">{% trans %}Equipment{% endtrans %}</legend>


    </fieldset>
</div>
    <div id="right">
        <fieldset id="fieldset-right">

        {{ form_row(form.notes, {'div_class': 'w50'}) }}
            <br>
            Laps...

    </div>
    {{ form_rest(form) }}


{{ form_end(form) }}
    <script type="text/javascript">$(function(){
            Runalyze.ActivityForm.init($('#activity'), {
                calculateCalories: true,
                loadWeather: true    });
        });
    </script>
{% endblock %}