{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-menu panel-menu-floated">
        <ul>
            <li><a class="window" data-size="small" href="{{ url('activity-upload') }}">{% trans %}Upload{% endtrans %}</a></li>{#-
            -#}<li class="triggered"><a class="window" data-size="small" href="{{ url('activity-communicator') }}">Garmin Communicator</a></li>{#-
            -#}<li><a class="window" data-size="small" href="{{ url('activity-new') }}">Form</a></li>
        </ul>
    </div>

    <div class="panel-heading">
        <h1>{% trans %}Upload{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <div class="c fullwidth" style="position:relative;">
            <small style="position:absolute;right:4px;top:2px;">
                <span class="link" onclick="$('#GCapi').attr('src', '{{ url('activity-communicator-iframe') }}')"><i class="fa fa-fw fa-refresh"></i></span>
            </small>

            <iframe src="{{ url('activity-communicator-iframe') }}" id="GCapi" name="GCapi" width="490px" height="310px"></iframe>
        </div>

        <p class="info">
            {% trans with {'%s%': 'http://help.runalyze.com/latest/knowledge-base.html#get-the-garmin-communicator-running-in-firefox-version-43', '%b%':'<a href="http://help.runalyze.com/latest/starting-guide/import.html#garmin">help.runalyze.com</a>'} %}Due to security reasons browser manufacturers will drop support for plugins like the Garmin Communicator. A <a href="%s%">reinstall</a> may work, but we have documented an alternative way to import the original files at %b%.{% endtrans %}
        </p>
    </div>
{% endblock %}