{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-menu panel-menu-floated">
        <ul>
            <li class="triggered"><a class="window" data-size="small" href="{{ url('activity-upload') }}">{% trans %}Upload{% endtrans %}</a></li>{#-
            -#}<li><a class="window" data-size="small" href="{{ url('activity-communicator') }}">Garmin Communicator</a></li>{#-
            -#}<li><a class="window" data-size="small" href="{{ url('activity-new') }}">Form</a></li>
        </ul>
    </div>

    <div class="panel-heading">
        <h1>{% trans %}Upload{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <div id="upload-container">
            <div class="c button" id="file-upload">{% trans %}Upload file{% endtrans %}</div>
        </div>
        
        <script>
            var submittedFiles = [], completedFiles = 0, uploadedFiles = 0;
        
            new qq.FineUploaderBasic({
                button: $("#file-upload")[0],
                request: {
                    endpoint: "{{ url('internal-activity-upload') }}"
                },
                validation: {
                    allowedExtensions: ['csv', 'fit', 'fitlog', 'gpx', 'hrm', 'kml', 'kmz', 'logbook', 'logbook3', 'pwx', 'slf', 'sml', 'tcx', 'trk', 'ttbin', 'xml', 'zip']
                },
                callbacks: {
                    onError: function(id, name, errorReason, xhr) {
                        $("#ajax").append('<p class="error appended-by-uploader">'+name+': '+errorReason+'</p>');
                    },
                    onSubmit: function(id, fileName) {
                        submittedFiles.push(fileName.replace(/;/g, '_-_'));
                        $("#upload-container").addClass('loading');
                    },
                    onComplete: function(id, fileName, responseJSON) {
                        uploadedFiles++;
        
                        if (responseJSON.success) {
                            completedFiles++;
        
                            if (completedFiles == submittedFiles.length) {
                                $(".appended-by-uploader").remove();
        
                                if (completedFiles == 1) {
                                    $("#ajax").loadDiv('{{ url('activity-upload') }}?file='+encodeURIComponent(submittedFiles[0]));
                                } else {
                                    $("#ajax").loadDiv('{{ url('activity-upload') }}?files='+encodeURIComponent(submittedFiles.join(';')));
                                }
                            }
                        } else {
                            $("#ajax").append('<p class="error appended-by-uploader">{% trans %}There were problems while uploading.{% endtrans %}</p>');
                        }
        
                        if (uploadedFiles == submittedFiles.length) {
                            $("#upload-container").removeClass('loading');
        
                            submittedFiles = [];
                            completedFiles = 0;
                            uploadedFiles = 0;
                        }
                    }
                }
            });
        
            if (!qq.supportedFeatures.ajaxUploading)
                $("#ajax").append('<p class="error">{% trans %}Your browser does not seem to support this uploader, see{% endtrans %}<a href="http://docs.fineuploader.com/browser-support.html" target="_blank">http://docs.fineuploader.com/browser-support.html</a>.</p>');
        </script>
        
        <p class="text">
            &nbsp;
        </p>
        
        <p class="info">
            <a href="http://help.runalyze.com/latest/starting-guide/import.html#different-file-types" target="_blank">{% trans %}Supported file extensions{% endtrans %}</a>:
    
            <abbr rel="tooltip" title="{{ "%s-files are supported from: %s"|trans|format("csv", "Epson, Wahoo") }}">*.csv</abbr>,
            *.fit,
            *.fitlog,
            *.gpx,
            *.hrm,
            <abbr rel="tooltip" title="{{ "hrm- and gpx-files with the same name will be automatically combined."|trans }}">*.hrm + *.gpx</abbr>,
            <abbr rel="tooltip" title="{{ "%s-files are supported from: %s"|trans|format("kml", "Google, TomTom") }}">*.kml</abbr>,
            *.kmz,
            *.logbook,
            *.logbook3,
            *.pwx,
            *.slf,
            *.sml,
            *.tcx,
            *.trk,
            *.ttbin,
            <abbr rel="tooltip" title="{{ "%s-files are supported from: %s"|trans|format("xml", "Polar, Suunto, RunningAHEAD") }}">*.xml</abbr>,
            *.zip
        </p>
        
        {% if maxFileSize %}
        <p class="info">
            {% trans %}Supported file size:{% endtrans %} {{ maxFileSize|filesize }}
        </p>
        {% endif %}

        {% include 'flashmessages.html.twig' %}
    </div>
{% endblock %}
