{% extends "base_logged_in.twig" %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}VDOT calculation for: %title%{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <fieldset>
            <legend>{% trans %}Standard calculation: As race result{% endtrans %}</legend>

            <div>
                <p class="info small">
                    {% trans %}All traditional formulas are being used to calculate a VDOT value for a given race result.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Distance{% endtrans %}</label>
                    <span class="as-input">{{ raceDetails.distance|raw }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VDOT{% endtrans %}</label>
                    <span class="as-input">{{ raceDetails.vdot }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}Duration{% endtrans %}</label>
                    <span class="as-input">{{ raceDetails.duration|raw }}</span>
                </div>

                <p class="file">
                    {% trans %}Reference{% endtrans %}:
                    <a href="http://www.simpsonassociatesinc.com/runningmath1.htm" target="_blank">{% trans %}The Daniels/Gilbert Formula by Larry Simpson{% endtrans %}</a>
                </p>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Correction: based on heartrate{% endtrans %}</legend>
            <div>
                <p class="info small">
                    {% trans %}Jack Daniels has tables to compare &#37;HRmax and &#37;vVDOT.{% endtrans %}
                    {% trans %}Because of a lot of influencing factors these computations are not always accurate.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Heart rate{% endtrans %}</label>
                    <span class="as-input">{{ hrDetails.hr }} %HRmax</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VDOT{% endtrans %}</label>
                    <span class="as-input">{{ hrDetails.vdot }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}equals{% endtrans %}</label>
                    <span class="as-input">{{ hrDetails.vVdot }} %vVDOT</span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Correction: based on correction factor{% endtrans %}</legend>
            <div>
                <p class="info small">
                    {% trans %}To consider some individual factors, we use a correction factor.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Correction factor{% endtrans %}</label>
                    <span class="as-input">{{ factorDetails.factor }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VDOT{% endtrans %}</label>
                    <span class="as-input ">{{ factorDetails.vdot }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}uncorrected{% endtrans %}</label>
                    <span class="as-input">{{ factorDetails.uncorrected }}</span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Correction: considering elevation{% endtrans %}</legend>
            <div>
                {% if not useElevationAdjustment %}
                <p class="warning hide">
                    {% trans %}This correction method is currently unused.{% endtrans %}
                </p>
                {% endif %}

                <div class="w50">
                    <label>{% trans %}Up/Down{% endtrans %}</label>
                    <span class="as-input">+{{ elevationDetails.up|raw }}/-{{ elevationDetails.down|raw }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VDOT{% endtrans %}</label>
                    <span class="as-input highlight">{{ elevationDetails.vdot }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}Influence{% endtrans %}</label>
                    <span class="as-input">{{ elevationDetails.additionalDistance|raw }} =&gt; {{ elevationDetails.totalDistance|raw }}</span>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %}
