{% extends "base_logged_in.twig" %}

{% block content %}
    {# @var conf \Runalyze\Bundle\CoreBundle\Component\Configuration\RunalyzeConfigurationList #}
    {% set conf = config() %}

    <div class="panel-heading">
        <h1>{% trans with {'%title%': context.decorator.title} %}VO2max estimation for: %title%{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <fieldset>
            <legend>{% trans %}Standard calculation: As race result{% endtrans %}</legend>

            <div>
                <p class="info small">
                    {% trans %}Traditional formulas are for estimating VO2max for a given race result.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Distance{% endtrans %}</label>
                    <span class="as-input">{{ distance(context.activity.distance) }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VO2max{% endtrans %}</label>
                    <span class="as-input">{{ context.activity.vO2maxByTime|number_format(2) }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}Duration{% endtrans %}</label>
                    <span class="as-input">{{ context.activity.s|duration }}</span>
                </div>

                <p class="file">
                    {% trans %}Reference{% endtrans %}:
                    <a href="http://www.simpsonassociatesinc.com/runningmath1.htm" target="_blank">{% trans %}The Daniels/Gilbert Formula by Larry Simpson{% endtrans %}</a>
                </p>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Correction: based on heartrate{% endtrans %}</legend>
            <div>
                <p class="info small">
                    {% trans %}There exist several studies to approximate a relation between &#37;HRmax and &#37;vVO2max.{% endtrans %}
                    {% trans %}Because of a lot of influencing factors these computations are not always accurate.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Heart rate{% endtrans %}</label>
                    <span class="as-input">{{ heartRatePercentMaximum(context.activity.pulseAvg).value }} %HRmax</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VO2max{% endtrans %}</label>
                    <span class="as-input">{{ context.activity.vO2max|number_format(2) }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}equals{% endtrans %}</label>
                    <span class="as-input">{{ details.percentVO2maxVelocityByHeartRate }} %vVO2max</span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans %}Correction: based on correction factor{% endtrans %}</legend>
            <div>
                <p class="info small">
                    {% trans %}To consider some individual factors, we use a correction factor.{% endtrans %}
                </p>

                <div class="w50">
                    <label>{% trans %}Correction factor{% endtrans %}</label>
                    <span class="as-input">{{ conf.vO2maxCorrectionFactor|number_format(2) }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VO2max{% endtrans %}</label>
                    <span class="as-input ">{{ details.correctedVO2max|number_format(2) }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}uncorrected{% endtrans %}</label>
                    <span class="as-input">{{ context.activity.vO2max|number_format(2) }}</span>
                </div>
            </div>
        </fieldset>

        {% set useElevationAdjustment = conf.useVO2maxCorrectionForElevation %}
        {% set activityVO2max = context.decorator.effectiveVO2max(conf) %}
        {% set distanceModifier = details.distanceModifierForElevationAdjustment %}
        <fieldset>
            <legend>{% trans %}Correction: considering elevation{% endtrans %}</legend>
            <div{% if not useElevationAdjustment %} class="unimportant"{% endif %}>
                {% if not useElevationAdjustment %}
                <p class="warning hide">
                    {% trans %}This correction method is currently unused.{% endtrans %}
                </p>
                {% endif %}

                <div class="w50">
                    <label>{% trans %}Up/Down{% endtrans %}</label>
                    <span class="as-input">+{{ elevation(context.decorator.elevationUp).value }}/-{{ elevation(context.decorator.elevationDown) }}</span>
                </div>
                <div class="w50 double-height-right">
                    <label>&rArr; {% trans %}VO2max{% endtrans %}</label>
                    <span class="as-input highlight">{{ details.correctedVO2maxWithElevationAdjustment|number_format(2) }}</span>
                </div>
                <div class="w50">
                    <label>{% trans %}Influence{% endtrans %}</label>
                    <span class="as-input">{% if distanceModifier.additionalDistance >= 0 %}+{% endif %}{{ distance(distanceModifier.additionalDistance) }} =&gt; {{ distance(distanceModifier.correctedDistance) }}</span>
                </div>
            </div>
        </fieldset>

        {% if
            (useElevationAdjustment and (not (activityVO2max|round(1) == details.correctedVO2maxWithElevationAdjustment|round(1)))) or
            ((not useElevationAdjustment) and (not (activityVO2max|round(1) == details.correctedVO2max|round(1))))
        %}
        <p class="warning">
            {% trans with {'%activityVO2max%': activityVO2max|round(2)} %}The calculated value is not equal to what is saved for the activity (%activityVO2max%).
            The activity's value has probably been calculated based on other settings.{% endtrans %}

            {% trans with {'%linkStart%': '<a href="' ~ url('tools-cleanup') ~ '">', '%linkEnd%': '</a>'} %}You can use the %linkStart%database cleanup%linkEnd% to recalculate the value.{% endtrans %}
        </p>
        {% endif %}
    </div>
{% endblock %}
