{% extends "shared/base.html.twig" %}

{% set body_attributes = ' id="shared-iframe"' %}

{% import '_macro/leaflet.html.twig' as leaflet %}
{% from '_macro/utilities.html.twig' import boxedValue, boxedValueFor %}

{% block content %}
    {# @var activity \Runalyze\Bundle\CoreBundle\Entity\Training #}
    {% set activity = context.activity %}
    {# @var configList \Runalyze\Bundle\CoreBundle\Component\Configuration\RunalyzeConfigurationList #}
    {% set configList = config(context.account) %}
    {# @var units \Runalyze\Bundle\CoreBundle\Component\Configuration\UnitSystem #}
    {% set units = configList.unitSystem %}
    {# @var vo2maxObject \Runalyze\Bundle\CoreBundle\Twig\DisplayableVO2max #}
    {% set vo2maxObject = vo2maxFor(context, configList) %}

    <div id="statistics-inner" class="panel" style="width:97%;margin:0 auto;">
        <div class="panel-heading panel-inner-heading">
            {% if hasPublicList %}
                <a href="{{ url('shared-athlete', {'username': username}) }}" title="{% trans %}Athlete page of %username%{% endtrans %}" style="display:inline-block;float:right;">
                    <img src="{{ asset('assets/images/runalyze-start.png') }}" height="18px" width="auto">
                </a>
            {% else %}
            <a href="{{ url('base_url') }}" style="display:inline-block;float:right;">
                <img src="{{ asset('assets/images/runalyze-start.png') }}" height="18px" width="auto">
            </a>
            {% endif %}

            <h2>
                {{ context.decorator.title }}
                <small style="font-weight:normal;">- {{ context.activity.time|date('d.m.Y, H:i', 'UTC') }}</small>
            </h2>
        </div>
        <div class="training-row fullwidth" id="training-overview">
            <div class="boxed-values">
                {{ boxedValueFor(distance(context.activity.distance, units.distanceUnit), "Distance"|trans, '20%') }}
                {{ boxedValue(context.activity.s|duration, '', "Duration"|trans, '20%') }}
                {{ boxedValue(context.activity.elapsedTime > 0 ? context.activity.elapsedTime|duration : '-', '', "Elapsed time"|trans, '20%') }}
                {{ boxedValueFor(pace(context.activity.distance > 0 ? context.activity.s / context.activity.distance : 0, units.paceUnit(context.sport)), "Pace"|trans, '20%') }}
                {{ boxedValueFor(vo2maxObject, "VO<sub>2</sub>max", '20%', vo2maxObject.zero ? '' : vo2maxObject.iconClass) }}
                {{ boxedValueFor(elevation(context.activity.elevation, units.elevationUnit), "Elevation"|trans, '20%') }}
                {{ boxedValueFor(heartRate(context.activity.pulseAvg, units.heartRateUnit), "avg."|trans ~ " " ~ "Heart rate"|trans, '20%') }}
                {{ boxedValueFor(heartRate(context.activity.pulseMax, units.heartRateUnit), "max."|trans ~ " " ~ "Heart rate"|trans, '20%') }}
                {{ boxedValueFor(energy(context.activity.kcal, units.energyUnit), "Energy"|trans, '20%') }}
                {{ boxedValue(context.activity.trimp, '', "TRIMP"|trans, '20%') }}
            </div>
        </div>

        {% if route %}
        <div class="panel-heading panel-inner-heading">
            <h2>{% trans %}Course{% endtrans %}</h2>
        </div>
        <div class="training-row fullwidth" id="training-map">
            {{ leaflet.mapForAthlete("map-" ~ activity.id, activity.account) }}

            <script>
                {{ route.js('RunalyzeLeaflet.get("map-' ~ activity.id ~ '")')|raw }}
                RunalyzeLeaflet.get("map-{{ activity.id }}").Routes.routeid="{{ route.id }}";

                function resizeMap() {
                    var $m = $(".map"), w = $(window).innerHeight(), d = $("body").outerHeight();
                    $m.height(w - d + $m.height() - 20);
                    RunalyzeLeaflet.get("map-{{ activity.id }}").Routes.fitTo("{{ route.id }}");
                }

                $(document).ready(function(){
                    $(window).resize(function() { resizeMap(); });
                    resizeMap();
                });
            </script>
        </div>
        {% endif %}
    </div>
{% endblock %}
